




.wrapper{
    margin: 150px auto;
    width: 1350px;
    height: 3300px;
    background-color: whitesmoke;
}
// .contener{

// }
.navbar{    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar_home{
    display: flex;
    gap: 25px;
}
.navbar_text{
/* HOME */

height: 15px;

font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */
letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;


}